USE [master]
GO
/****** Object:  Database [BIBLIOTECA_U]    Script Date: 20/05/2026 08:37:09 p. m. ******/
CREATE DATABASE [BIBLIOTECA_U]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIBLIOTECA_U', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\BIBLIOTECA_U.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BIBLIOTECA_U_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\BIBLIOTECA_U_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIBLIOTECA_U].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIBLIOTECA_U]
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 20/05/2026 08:37:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[ID_SECCION] [int] NULL,
	[ID_LIBRO] [int] NULL,
	[GENERO_SECCION] [nvarchar](100) NULL,
	[CANTIDAD] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRO]    Script Date: 20/05/2026 08:37:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRO](
	[NOMBRE_LIBRO] [nvarchar](100) NULL,
	[AUTOR_LIBRO] [nvarchar](100) NULL,
	[ISBN] [int] NULL,
	[ID_LIBRO] [int] NULL,
	[FECHA_PUBLICACION_LIBRO] [date] NULL,
	[EDITORIAL_LIBRO] [nvarchar](100) NULL,
	[NUM_PAGINAS_LIBRO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESTAMOS]    Script Date: 20/05/2026 08:37:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTAMOS](
	[ID_PRESTAMO] [int] NULL,
	[ID_LIBRO] [int] NULL,
	[MATRICULA_U] [nvarchar](20) NULL,
	[FECHA_PRESTAMO] [date] NULL,
	[FECHA_DEVOLUCION] [date] NULL,
	[ESTADO] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 20/05/2026 08:37:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[MATRICULA_U] [nvarchar](20) NULL,
	[NOMBRE_U] [nvarchar](100) NULL,
	[CARRERA_U] [nvarchar](100) NULL,
	[FACULTAD_U] [nvarchar](100) NULL,
	[CAMPUS_U] [nvarchar](100) NULL
) ON [PRIMARY]
GO
USE [master]
GO
